{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ blog.title }}-lyz's blog{% endblock %}
{% block css %}<link href="{% static 'css/blog_each.css' %}" rel="stylesheet"/>{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title">
                            {{ blog.title }}
                        </h1>
                        <ul>
                            <li>
                                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                发表日期：{{ blog.created_time|date:'Y年m月d日 H:i' }}

                            </li>
                            <li><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                作者：{{ blog.author }}
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
                                分类标签：<a href="{% url 'blog_type' blog.blog_type.id %}">{{ blog.blog_type }}</a>

                            </li>
                            <li>
                                <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
                                阅读量({{ blog.read_num }})
                            </li>
                        </ul>


                    </div>
                    <div class="panel-body">

                        <div class="blog-content">{{ blog.content|safe}}</div>

                    </div>
                    <div class="panel-footer"><div class="blog-more">
                        <p>上一篇：
                            {% if previous_blog %}
                                <a href="{% url 'blog_each' previous_blog.id %}">{{ previous_blog }}</a>
                            {% else %}
                                没有了
                            {% endif %}
                        </p>
                        <p>下一篇：
                            {% if next_blog %}
                                <a href="{% url 'blog_each' next_blog.id %}">{{ next_blog }}</a>
                            {% else %}
                                没有了
                            {% endif %}
                        </p>
                    </div></div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">博客分类</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="sort">
                            {% for blog_type in blog_types %}
                                <li class="tag_name">
                                    <a href="{% url 'blog_type' blog_type.id %}">
                                        {{ blog_type.type_name }}
                                    </a>
                                    <span>
                                        {{ blog_type.blog_count_by_type}}篇
                                    </span>
                                </li>
                            {% empty %}
                                <li>暂无分类</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">日期归档</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="sort">
                            {% for blog_date,blog_count in blog_dates_dict.items %}
                                <li class="tag_name">
                                    <a href="{% url 'blog_by_date' blog_date.year blog_date.month %}">
                                        {{ blog_date|date:'Y年m月'}}</a>

                                    <span>
                                        {{ blog_count }}篇
                                    </span>
                                </li>
                            {% empty %}
                                <li>暂无</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}