{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ blog.title }}-lyz's blog{% endblock %}
{% block css %}<link href="{% static 'css/blog_each.css' %}" rel="stylesheet"/>{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title">
                            {{ blog.title }}
                        </h1>
                        <ul>
                            <li>
                                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                发表日期：{{ blog.created_time|date:'Y年m月d日 H:i' }}

                            </li>
                            <li><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                作者：{{ blog.author }}
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
                                分类标签：<a href="{% url 'blog_type' blog.blog_type.id %}">{{ blog.blog_type }}</a>

                            </li>
                            <li>
                                <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
                                阅读量({{ blog.read_num }})
                            </li>
                        </ul>


                    </div>
                    <div class="panel-body">

                        <div class="blog-content">{{ blog.content|safe}}</div>

                    </div>
                    <div class="panel-footer"><div class="blog-more">
                        <p>上一篇：
                            {% if previous_blog %}
                                <a href="{% url 'blog_each' previous_blog.id %}">{{ previous_blog }}</a>
                            {% else %}
                                没有了
                            {% endif %}
                        </p>
                        <p>下一篇：
                            {% if next_blog %}
                                <a href="{% url 'blog_each' next_blog.id %}">{{ next_blog }}</a>
                            {% else %}
                                没有了
                            {% endif %}
                        </p>
                    </div></div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">热门博客</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="out_blog">
                            {% for hot_blog in hot_blogs %}
                                <li class="tag_name">
                                    <a href="{% url 'blog_each' hot_blog.id %}">
                                        {{ hot_blog.title }}
                                    </a>
                                    <p>
                                        <span class="glyphicon glyphicon-bookmark" aria-hidden="true">
                                            {{ hot_blog.read_num }}
                                        </span>
                                    </p>
                                </li>
                            {% empty %}
                                <li>暂无分类</li>
                            {% endfor %}
                            <!--
                                {% if blog_types.count > 5 %}
                                <a class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                    展开
                                </a>
                                <div class="collapse" id="collapseExample">
                                    <div class="well">
                                        ...
                                    </div>
                                </div>
                                {% endif %}
                            -->
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">最新发布</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="out_blog">
                            {% for new_blog in new_blogs %}
                                <li class="tag_name">
                                    <a href="{% url 'blog_each' new_blog.id %}">
                                        {{ new_blog.title}}
                                    </a>
                                    <div>
                                        <span class="glyphicon glyphicon-book" aria-hidden="true">
                                            {{ new_blog.read_num }}
                                        </span>
                                    </div>


                                </li>
                            {% empty %}
                                <li>暂无</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}