{% extends 'base.html' %}
{% block title %}博客总览-lyz's blog{% endblock %}
{% load staticfiles %}
{% block css %}<link href="{% static 'css/blog_list.css' %}" rel="stylesheet"/>{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {% block blog_list_title %}博客列表(共{{ page_of_blogs.paginator.count }}篇){% endblock %}
                        </h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            等待Coding
                            等待Coding
                            等待Coding
                            等待Coding
                            等待Coding
                            等待Coding
                            等待Coding
                        </p>
                    </div>
                </div>
                <br>
                <br>
                {% for blog in page_of_blogs.object_list %}
                    <li class="list-group-item">
                        <a class="title" href="{% url 'blog_each' blog.id %}">{{ blog.title }}</a>
                        <p class="content">{{ blog.content|truncatechars:300|striptags|safe}}</p>

                        <p class="blog_detail">
                            <span class="blog_type"><a href="{% url 'blog_type' blog.blog_type_id %}"> {{ blog.blog_type }}</a></span>
                            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                            <span class="blog_time">{{ blog.created_time|date:'Y年m月d日 H:i' }}</span>
                            <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
                            <span class="blog_read">阅读({{ blog.read_num }})</span>
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            <span class="blog_author">{{ blog.author }}</span>

                        </p>
                    </li>
                {% empty %}
                    <p>-- 暂无博客，敬请期待 --</p>
                {% endfor %}



                <div style="text-align: center">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li>
                                {% if page_of_blogs.has_previous %}
                                    <a href="?page={{ page_of_blogs.previous_page_number }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                {% else%}
                                    <span aria-hidden="true">&laquo;</span>
                                {% endif %}

                            </li>

                            {% for page_num in page_range %}

                                {% if page_num == page_of_blogs.number %}
                                    <li class="active"><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                                {% else %}
                                    {% if page_num == '...' %}
                                        <li><span>{{ page_num }}</span></li>
                                    {% else %}
                                        <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                                    {% endif %}
                                {% endif %}

                            {% endfor %}

                            <li>
                                {% if page_of_blogs.has_next %}
                                    <a href="?page={{ page_of_blogs.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                {% else%}
                                    <span aria-hidden="true">&raquo;</span>
                                {% endif %}
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>


            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">博客分类</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="sort">
                            {% for blog_type in blog_types %}
                                <li class="tag_name">
                                    <a href="{% url 'blog_type' blog_type.id %}">
                                        {{ blog_type.type_name }}
                                    </a>
                                    <span>
                                        {{ blog_type.blog_count_by_type}}篇
                                    </span>
                                </li>
                            {% empty %}
                                <li>暂无分类</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">日期归档</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="sort">
                            {% for blog_date,blog_count in blog_dates_dict.items %}
                                <li class="tag_name">
                                    <a href="{% url 'blog_by_date' blog_date.year blog_date.month %}">
                                        {{ blog_date|date:'Y年m月'}}</a>

                                    <span>
                                        {{ blog_count }}篇
                                    </span>
                                </li>
                            {% empty %}
                                <li>暂无</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}