
h1.panel-title{
    font-size: 24px;
    color: #0d56a6;
    font-family: inherit;
    line-height: 1;
    padding: 1em 0 0.2em 0.5em;
}
div.panel-heading ul{
    list-style-type: none;
    padding: 1em 0 0 1em;
}
div.panel-heading ul li{
    line-height: 1.5em;
}

div.panel-body ul{
    list-style-type: none;
}

h3.panel-title{
    font-size: 16px;
    line-height: 16px;
    padding-left: 6px;
    border-left: 3px solid #cf2730;
    color: #333;
}

ul.out_blog{
    list-style: none;
    padding: unset;
    margin: 5px;
}

ul.out_blog li.tag_name a{
    font-size: 15px;
    text-decoration: none;
    color:gray;
}

ul.out_blog li.tag_name span{
    font-size: 11px;
    color: #BBBBBB;
}
